---
import "../styles/global.css";
import ThemeHead from "./ThemeHead.astro";

interface Props {
  title: string;
  description?: string;
  apiUrl: string;
}

const { title, description, apiUrl } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;1,9..40,300&display=swap" rel="stylesheet" />
    <ThemeHead />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
  </head>
  <body class="min-h-screen bg-[#f5f2ee] text-[#141210] transition-colors duration-200 dark:bg-[#0f0e0c] dark:text-[#f0ede8]">
    <slot />
    <script define:vars={{ apiUrl }}>
      window.QUICKLY_API_URL = apiUrl;
    </script>
    <script>
      import "../scripts/quickly";
    </script>
  </body>
</html>
